certifi==2018.10.15
chardet==3.0.4
ConfigArgParse==0.13.0
idna==2.7
more-itertools==4.3.0
mwoauth==0.3.2
numpy==1.15.4
oauthlib==2.1.0
pandas==0.23.4
PyJWT==1.6.4
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
requests-oauthlib==1.0.0
simplejson==3.16.0
six==1.11.0
tqdm==4.28.1
urllib3==1.24.1
wikidataintegrator==0.1.3
